h3 Transactions

table.table
	thead
		tr
			th Type
			th Title
			th Occuring
			th Amount
			th Actions
		tr
			td: select.form-control(ng-model="transaction.type")
				option(value="expense") Expense
				option(value="income") Income
			td: input.form-control(ng-model="transaction.title", placeholder="Transaction")
			td: select.form-control(ng-model="transaction.occuring")
				option(value="once") Once
				option(value="daily") Daily
				option(value="weekly") Weekly
				option(value="monthly") Monthly
			td: input.form-control(ng-model="transaction.amount",placeholder="0.0")
			td 
				a.btn.btn-info(ng-click="save(transaction)") Save
				a.btn.btn-info(ng-click="reset()") Reset

	tbody
		tr(ng-repeat="transaction in transactions")
			td {{ transaction.type }}
			td {{ transaction.title }}
			td {{ transaction.occuring }}
			td {{ transaction.amount }}
			td 
				a.btn.btn-info(ng-click="edit(transaction)") Edit
				a.btn.btn-info(ng-click="delete(transaction)") Delete