html
	head
		title CumuFlux - Personal Finances App
		link(rel="stylesheet",href="lib/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body

		header
			h1 CumuFlux - Personal Finances App
			ul.main-menu
				li: a(href="#/") Home
				li.active: a(href="#/transactions") Transactions
				li: a(href="#/projections") Projections
		section.content

		//- lib
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		script(src="lib/moment.js")
		script(src="lib/q.js")
		script(src="lib/jade.js")

		//- iblokz
		script(src="js/iblokz/helpers.js")
		script(src="js/iblokz/resource.js")
		script(src="js/iblokz/element.js")
		script(src="js/iblokz/crud.js")
		script(src="js/iblokz/router.js")
		
		//- app
		script(src="js/cmf/resources/transactions.js")
		script(src="js/cmf/elements/transactions-crud.js")
		script(src="js/cmf/index.js")
		script(src="js/init.js")
