html
	head
		title CUMUFLUX - Personal Finances App
		link(rel="stylesheet",href="lib/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		
		h1 CUMUFLUX - Personal Finances App
		
		//- lib
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		script(src="lib/moment.js")
		script(src="lib/q.js")
		
		//- app
		script(src="js/app.js")
