html
	head
		title CumuFlux - Personal Finances App
		link(rel="stylesheet",href="lib/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body

		.gui
			header
				h1
					i.fa.fa-credit-card
					| CumuFlux
				h2 Personal Finances App
				ul#main-menu
					li(rel="home"): a(href="#/")
						i.fa.fa-home 
						| Home
					li(rel="transactions").active: a(href="#/transactions")
						i.fa.fa-exchange 
						| Transactions
					li(rel="projections"): a(href="#/projections")
						i.fa.fa-line-chart 
						| Projections
			section.content

		//- lib
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		script(src="lib/moment.js")
		script(src="lib/q.js")
		script(src="lib/jade.js")

		//- iblokz
		script(src="js/iblokz/helpers.js")
		script(src="js/iblokz/resource.js")
		script(src="js/iblokz/element.js")
		script(src="js/iblokz/crud.js")
		script(src="js/iblokz/router.js")
		
		//- app
		script(src="js/cmf/resources/transactions.js")
		script(src="js/cmf/elements/transactions-crud.js")
		script(src="js/cmf/elements/projections.js")
		script(src="js/cmf/index.js")
		script(src="js/init.js")
